* {
  box-sizing: border-box;
  font-family: arial;  
  text-decoration: none;
  background-color: #000000;
}
header {
  text-align: center;
}
h1 {
  font-size: 20px;
  color: white;
}
h2 {
  font-size: 40px;
  color: white;
  text-align: center;
}
span {
  font-size: 30px;
  color: rgb(4, 255, 0);
}
span2 {
  font-size: 60px;
  color: rgb(4, 255, 0);
}
p {
  font-size: 20px;
  color: white;
  text-align: center;
}
a {
  color: #ffffff;
  padding: 10px;  
}
.a2:hover, li a:hover, a:hover {
  color: rgb(4, 255, 0);
}
#img1 {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  align-items: center;
}
.social{
  text-align: center;
  font-size: 50px;
}
footer {
  color: #ffffff;
  text-align: center;
  padding: 10px;
}
